html {
	height: 100%;
}
body {
	background-image: url(../images/campoDaCalcio.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
}
table, th, td {
	margin-left: auto; 
    margin-right: auto;
	border: 2px solid black;
	border-collapse: collapse;
	background-color: white;
}
th.firstRow {
	font-size: large;
}
form {
	margin-top: 2%;
}
p.form {
	font-weight: bold;
}
div.attributo {
	font-size: large;
	display: inline;
}
span.attributo {
	font-size: large;
	font-weight: bold;
}
form.modificaAttributo {
	display: inline;
	margin-left: 2%;
}
br {
	content: "";
	margin: 2em;
	display: block;
	font-size: 24%;
}
span.avviso {
	font-size: x-large;
	font-weight: bold;
}
span.altroAvviso {
	font-size: large;
	font-weight: bold;
}
form.avvicinaForm {
	display: inline-block;
	margin: 1%;
}
div.allontana {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%
}
table.tabellaConForm, td.tdConForm {
	margin-left: auto; 
    margin-right: auto;
	border: transparent;
	border-collapse: collapse;
	background-color: transparent;
}
td.tdPreForm {
	margin-left: auto; 
    margin-right: auto;
	border: transparent;
	border-collapse: collapse;
	background-color: transparent;
	font-weight: bold;
}
input.submitTabella {
	margin-top: 2%;
}
td.statistiche {
	width: 30px;
}
span.fantasquadra {
	color: red;
	font-weight: bold;
}
span.fantasquadraDisponibile {
	color: green;
	font-weight: bold;
}
span.fantasquadraNonDisponibile {
	color: red;
	font-weight: bold;
}
input.modificaAttributo {
	display: inline;
	margin-left: 2%;
}