<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Giocatori disponibili per ' + fantasquadra.getNomeFantasquadra()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:if="${nPortieriInFantasquadra &gt;= 3 and nDifensoriInFantasquadra &gt;= 8 
		and nCentrocampistiInFantasquadra &gt;= 8 and nAttaccantiInFantasquadra &gt;= 6}">
		Impossibile aggiungere altri giocatori!</h2>
	<h2 th:unless="${nPortieriInFantasquadra &gt;= 3 and nDifensoriInFantasquadra &gt;= 8 
		and nCentrocampistiInFantasquadra &gt;= 8 and nAttaccantiInFantasquadra &gt;= 6}">
		Aggiungi calciatori alla tua fantasquadra</h2>
	<div th:if="${nPortieriInFantasquadra &lt; 3}">
	<form name='f' th:object="${calciatoreForm}" method='POST'>
		<table class = "tabellaConForm">
			<tr>
				<td class = "tdPreForm">Portieri disponibili:</td>
				<td class = "tdConForm">
					<select th:field="*{calciatore}">
						<option th:each="p : ${portieriDisponibili}"
                            th:value="${p.getId()}"
                            th:utext="${p.toString()}"/>
					</select>
				</td>
			</tr>
			<tr>
                <td class = "tdConForm" colspan = "2"><input name="submit" type="submit" value="Aggiungi portiere" /></td>
            </tr>
		</table>
	</form>
	</div>
	<div th:if="${nDifensoriInFantasquadra &lt; 8}">
	<form name='f' th:object="${calciatoreForm}" method='POST'>
		<table class = "tabellaConForm">
			<tr>
				<td class = "tdPreForm">Difensori disponibili:</td>
				<td class = "tdConForm">
					<select th:field="*{calciatore}">
						<option th:each="d : ${difensoriDisponibili}"
                            th:value="${d.getId()}"
                            th:utext="${d.toString()}"/>
					</select>
				</td>
			</tr>
			<tr>
                <td class = "tdConForm" colspan = "2"><input name="submit" type="submit" value="Aggiungi difensore" /></td>
            </tr>
		</table>
	</form>
	</div>
	<div th:if="${nCentrocampistiInFantasquadra &lt; 8}">
	<form name='f' th:object="${calciatoreForm}" method='POST'>
		<table class = "tabellaConForm">
			<tr>
				<td class = "tdPreForm">Centrocampisti disponibili:</td>
				<td class = "tdConForm">
					<select th:field="*{calciatore}">
						<option th:each="c : ${centrocampistiDisponibili}"
                            th:value="${c.getId()}"
                            th:utext="${c.toString()}"/>
					</select>
				</td>
			</tr>
			<tr>
                <td class = "tdConForm" colspan = "2"><input name="submit" type="submit" value="Aggiungi centrocampista" /></td>
            </tr>
		</table>
	</form>
	</div>	
	<div th:if="${nAttaccantiInFantasquadra &lt; 6}">
	<form name='f' th:object="${calciatoreForm}" method='POST'>
		<table class = "tabellaConForm">
			<tr>
				<td class = "tdPreForm">Attaccanti disponibili:</td>
				<td class = "tdConForm">
					<select th:field="*{calciatore}">
						<option th:each="a : ${attaccantiDisponibili}"
                            th:value="${a.getId()}"
                            th:utext="${a.toString()}"/>
					</select>
				</td>
			</tr>
			<tr>
                <td class = "tdConForm" colspan = "2"><input name="submit" type="submit" value="Aggiungi attaccante" /></td>
            </tr>
		</table>
	</form>
	</div>
	<p></p>
	<div>
		<form th:action="@{/modifyCalciatoriInFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div>
</body>
</html>