<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Calciatori random aggiunti correttamente alla fantasquadra!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${'La rosa della fantasquadra ' + 
		fantasquadra.getNomeFantasquadra() +  ' è stata completata con successo!'}" ></h2>
	<form th:action="@{/modifyCalciatoriInFantasquadra/{id}(id = ${fantasquadra.getId()})}">
    	<input type="submit" value="OK" />
	</form>
</body>
</html>