<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Calciatore rimosso correttamente dalla fantasquadra!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${calciatoreInFantasquadra.getNome() + 
		' rimosso correttamente dalla fantasquadra ' + fantasquadra.getNomeFantasquadra()}" ></h2>
	<form th:action="@{/modifyCalciatoriInFantasquadra/{id}(id = ${fantasquadra.getId()})}">
    	<input type="submit" value="OK" />
	</form>
</body>
</html>