<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Calciatore: ' + calciatore.getNome()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${'Pagina del calciatore ' + calciatore.getNome()}"></h2>
	<div class = "attributo">Squadra d'appartenenza: 
		<span class = "attributo" th:text ="${calciatore.getSquadra()}"></span>
	</div>
	<br>
	<div class = "attributo">Ruolo: 
		<span class = "attributo" th:text ="${calciatore.getRuolo()}"></span>
	</div>
	<div class = "allontana">
		<form class = "avvicinaForm" th:action="@{/fantasquadra/{idFantasquadra}/statisticheCalciatore/{idStatistiche}
			(idFantasquadra = ${fantasquadra.getId()},idStatistiche = ${calciatore.getId()})}">
    		<input type="submit" value="Guarda le sue statistiche"/>
		</form>
		<form class = "avvicinaForm" 
			th:action="@{/modifyCalciatoriInFantasquadra/{id}(id = ${fantasquadra.getId()})}">
    		<input type="submit" value="Torna alla pagina della fantasquadra" />
		</form>
	</div>
</body>
</html>