<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Giocatori presenti in ' + fantasquadra.getNomeFantasquadra()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:if="${calciatoriDisponibili.size() == 0}">
		Impossibile eliminare dei calciatori dalla fantasquadra!</h2>
	<div th:if="${calciatoriDisponibili.size() != 0}">
	<h2>Elimina un calciatore dalla tua fantasquadra</h2>
	<form name='f' th:object="${calciatoreForm}" method='POST'>
		<table class = "tabellaConForm">
			<tr>
				<td class = "tdPreForm">Seleziona giocatore:</td>
				<td class = "tdConForm">
					<select th:field="*{calciatore}">
						<option th:each="c : ${calciatoriDisponibili}"
                            th:value="${c.getId()}"
                            th:utext="${c.toString()}"/>
					</select>
				</td>
			</tr>
			<tr>
                <td class = "tdConForm" colspan = "2">
                	<input class = "submitTabella" name="submit" type="submit" value="Rimuovi giocatore" /></td>
            </tr>
		</table>
	</form>
	</div>
	<div>
		<form th:action="@{/modifyCalciatoriInFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div>
</body>
</html>