<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Cancellamento della fantasquadra ' + fantasquadra.getNomeFantasquadra()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h1 th:text="${'Sei sicuro di voler cancellare la fantasquadra ' + fantasquadra.getNomeFantasquadra() + '?'}"></h1>
	<p>Una volta cancellata la fantasquadra, 
		<span class = "avviso">non potrai più tornare indietro!</span></p>
	<div class = "allontana">
		<form class = "avvicinaForm" th:action="@{/deleteFantasquadra/{id}(id = ${fantasquadra.getId()})}"
			th:object="${fantasquadra}" method="post">
			<input type="submit" value="Cancella fantasquadra" />
		</form>
		<form class = "avvicinaForm" 
			th:action="@{/fantasquadra/{id}(id = ${fantasquadra.getFantallenatore().getId()})}" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div>
</body>
</html>