<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Cancellamento del fantallenatore ' + fantallenatore.getNickname()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h1 th:text="${'Sei sicuro di voler cancellare il fantallenatore ' + fantallenatore.getNickname() + '?'}"></h1>
	<p>Una volta cancellato il fantallenatore, 
		<span class = "avviso">non potrai più tornare indietro!</span></p>
	<p>(
		<span class = "altroAvviso">anche</span> la fantasquadra associata verrà eliminata)</p>
	<div class = "allontana">
		<form class = "avvicinaForm" th:action="@{/deleteFantallenatore/{id}(id = ${fantallenatore.getId()})}"
			th:object="${fantallenatore}" method="post">
		<input type="submit" value="Cancella fantallenatore" />
		</form>
		<form class = "avvicinaForm" th:action="@{/fantallenatori/{id}(id = ${fantallenatore.getId()})}" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div>
</body>
</html>