<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Fantasquadra ' + fantasquadra.getNomeFantasquadra() + ' rimossa correttamente!'}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${fantasquadra.getNomeFantasquadra() + 
		' rimossa correttamente dalla lista delle fantasquadre'}"></h2>
	<form th:action="@{/fantallenatori/{id}(id = ${fantasquadra.getFantallenatore().getId()})}">
    	<input type="submit" value="OK" />
	</form>
</body>
</html>