<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lista Fantallenatori</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
<h1>FantacalcioApp</h1>
    <div>
    	<table>
    		<tr>
    			<th colspan = "5" class = "firstRow">Fantallenatori registrati</th>
    		</tr>
    		<tr>
    		    <th>Id</th>
    		    <th>Nome</th>
    		    <th>Nickname</th>
    		    <th>Fantasquadra presente</th>
    		    <th>Link</th>
    		</tr>
			<tr th:each="fantallenatore : ${fantallenatori}">
				<td><span th:text="${fantallenatore.getId()}"></span></td>
				<td><span th:text="${fantallenatore.getNome()}"></span></td>
				<td><span th:text="${fantallenatore.getNickname()}"></span></td>
				<td>
					<div th:if="${fantallenatore.getFantasquadra() == null}">
						<span class = "fantasquadraNonDisponibile">NO</span>
					</div>
					<div th:unless="${fantallenatore.getFantasquadra() == null}">
						<span class = "fantasquadraDisponibile">SÌ</span>
					</div>
				<td><a th:href="@{/fantallenatori/{id}(id = ${fantallenatore.id})}">Vai alla sua pagina!</a></td>
			</tr>
		</table>
	</div>
	
	<form th:action="@{/addfantallenatore}" method="get">
    	<input type="submit" value="Crea nuovo fantallenatore" />
	</form>
</body>
</html>