<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fantallenatore Creato</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Fantasquadra creata correttamente</h2>
	
		<div>
		<form th:action="@{/fantallenatori/{id}(id = ${fantasquadra.getFantallenatore().getId()})}" method="get">
	    	<input type="submit" value="OK" />
		</form>
	</div>
</body>
</html>