<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fantallenatore Creato</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Fantallenatore creato correttamente</h2>
	<form action="/">
    	<input type="submit" value="OK" />
	</form>
</body>
</html>