<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Fantasquadra: ' + fantasquadra.nomeFantasquadra}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Pagina della fantasquadra </h2>
	<div class = "attributo">Nome fantasquadra:
		<span class = "attributo" th:text ="${fantasquadra.getNomeFantasquadra()}"></span>
		<form class = "modificaAttributo"
			th:action="@{/modifyNomeFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="get">
    		<input type="submit" value="Modifica il nome della fantasquadra" />
		</form>
	</div>
	<br>
	<form th:action="@{/modifyCalciatoriInFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="get">
    	<input type="submit" value="Modifica rosa" />
	</form>
	<br>
	<div>
		<table>
			<tr>
				<th colspan = "4" class = "firstRow">Partite giocate</th>
			</tr>
			<tr>
    		    <th>Fantasquadra in casa</th>
    		    <th>Fantasquadra in trasferta</th>
    		    <th>Gol fantasquadra in casa</th>
    		   	<th>Gol fantasquadra in transferta</th>
    		</tr>
    		<tr th:each="partite : ${partiteGiocate}">
    			<td>
    				<div th:if="${fantasquadra.equals(partite.getFantasquadra1())}">
    					<span class = "fantasquadra" th:text="${partite.getFantasquadra1().getNomeFantasquadra()}"></span>
    				</div>
    				<div th:unless="${fantasquadra.equals(partite.getFantasquadra1())}">
    					<span th:text="${partite.getFantasquadra1().getNomeFantasquadra()}"></span>
    				</div> 
    			</td>
    			<td>
    				<div th:if="${fantasquadra.equals(partite.getFantasquadra2())}">
    					<span class = "fantasquadra" th:text="${partite.getFantasquadra2().getNomeFantasquadra()}"></span>
    				</div>
    				<div th:unless="${fantasquadra.equals(partite.getFantasquadra2())}">
    					<span th:text="${partite.getFantasquadra2().getNomeFantasquadra()}"></span>
    				</div>
    			</td>
    			<td><span th:text="${partite.getGolSquadra1()}"></span></td>
    			<td><span th:text="${partite.getGolSquadra2()}"></span></td>
    		</tr>
		</table>
	</div>
	<br>
	<div th:if="${calciatoriInFantasquadra.size() == 25}">
		<form class = "avvicinaForm" th:action="@{/giocaInCasa/{id}(id = ${fantasquadra.getId()})}" method="get">
    		<input type="submit" value="Gioca un'altra partita in casa" />
		</form>
		<form class = "avvicinaForm" th:action="@{/giocaInTrasferta/{id}(id = ${fantasquadra.getId()})}" method="get">
    		<input type="submit" value="Gioca un'altra partita in trasferta" />
		</form>
	</div>
	<br>
	<div class = "allontana">
		<form class = "avvicinaForm" th:action="@{/deleteFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="get">
    		<input type="submit" value="Cancella fantasquadra" />
		</form>
		<form class = "avvicinaForm" th:action="@{/fantallenatori/{id}(id = ${fantasquadra.getFantallenatore().getId()})}" method="get">
	 	   <input type="submit" value="Torna alla pagina del fantallenatore" />
		</form>
	</div>
</body>
</html>