<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Fantallenatore: ' + fantallenatore.nickname}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Pagina del fantallenatore</h2>
	<div class = "attributo">Nome: 
		<span class = "attributo" th:text ="${fantallenatore.getNome()}"></span>
		<form class = "modificaAttributo" 
			th:action="@{/modifyNomeFantallenatore/{id}(id = ${fantallenatore.getId()})}" method="get">
    		<input type="submit" value="Modifica il nome" />
		</form>
	</div>
	<br>
	<div class = "attributo">Nickname:
		<span class = "attributo" th:text ="${fantallenatore.getNickname()}"></span>
		<form class = "modificaAttributo"
			th:action="@{/modifyNicknameFantallenatore/{id}(id = ${fantallenatore.getId()})}" method="get">
    		<input type="submit" value="Modifica il nickname" />
		</form>
	</div>
	<div class = "allontana">
		<form class = "avvicinaForm" th:action="@{/fantasquadra/{id}(id = ${fantallenatore.id})}">
    		<input type="submit" th:value="${fantallenatore.getFantasquadra() == null} ? 
    			'Crea fantasquadra' : 'Vai alla fantasquadra'"/>
		</form>
		<form class = "avvicinaForm" th:action="@{/deleteFantallenatore/{id}(id = ${fantallenatore.id})}">
    		<input type="submit" value="Cancella questo fantallenatore"/>
		</form>
		<form class = "avvicinaForm" action="/" method="get">
	    	<input type="submit" value="Torna alla pagina dei fantallenatori" />
		</form>
	</div>
</body>
</html>