<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Fantallenatore ' + fantallenatore.getNickname() + ' rimosso correttamente!'}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${fantallenatore.getNickname() + 
		' rimosso correttamente dalla lista dei fantallenatori'}"></h2>
	<form action="/">
    	<input type="submit" value="OK" />
	</form>
</body>
</html>