<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Nuovo Fantallenatore</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Crea un nuovo fantallenatore</h2>
	<form th:action="@{/addfantallenatore}" th:object="${fantallenatore}" method="post">
        <p class = "form">Nome utente: <input type="text" th:field="*{nome}" /></p>
        <p class = "form">Nickname: <input type="text" th:field="*{nickname}" /></p>
        <p><input type="submit" value="Inserisci" /> <input type="reset" value="Cancella" /></p>
    </form>
    <div>
		<form action="/" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div>
</body>
</html>