<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Nuova Fantasquadra</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Crea una nuova fantasquadra</h2>
	<form th:action="@{/fantasquadra_created/{id}(id = ${idAllenatore})}" th:object="${fantasquadra}" method="post">
		<p class = "form">Nome fantasquadra: <input type="text" th:field="*{nomeFantasquadra}" /></p>
        <p><input type="submit" value="Inserisci" /> <input type="reset" value="Cancella" /></p>
    </form>
    <div>
		<form th:action="@{/fantallenatori/{id}(id = ${idAllenatore})}" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div> 
</body>
</html>