<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Gioca partita</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<div th:if="${fantasquadreAffrontabiliInTrasferta.size() &lt;= 0}">
		<h2>Impossibile giocare contro altre fantasquadre!</h2>
	</div>
	<div th:if="${fantasquadreAffrontabiliInTrasferta.size() &gt; 0}">
		<h2>Affronta una fantasquadra in transferta</h2>
	<form name='f' th:object="${fantasquadraForm}" method='POST'>
		<table class = "tabellaConForm">
			<tr>
				<td class = "tdPreForm">Fantasquadre affrontabili in trasferta:</td>
				<td class = "tdConForm">
					<select th:field="*{fantasquadra}" class = "form-control">
						<option th:each="fs : ${fantasquadreAffrontabiliInTrasferta}"
                            th:value="${fs.getId()}"
                            th:utext="${fs.getNomeFantasquadra()}"/>
					</select>
				</td>
			</tr>
			<tr>
                <td class = "tdConForm" colspan = "2"><input name="submit" type="submit" value="Gioca!" /></td>
            </tr>
		</table>
	</form>
	</div>
	<div>
	<form th:action="@{/fantasquadra/{id}(id = ${fantasquadra.getFantallenatore().getId()})}" method="get">
    	<input type="submit" value="Torna alla pagina della fantasquadra" />
	</form>
	</div>
</body>
</html>