<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Cambia nome'}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${'Cambia il nome della fantasquadra ' + fantasquadra.getNomeFantasquadra()}"></h2>
	<form th:action="@{/modifyNomeFantasquadra/{id}(id = ${fantasquadra.getId()})}"
		th:object="${fantasquadra}" method="post">
        <p class = "form">Nome fantasquadra: <input type="text" th:field="*{nomeFantasquadra}" /></p>
        <p><input type="submit" value="Modifica" /></p>
    </form>
    <div>
		<form th:action="@{/fantasquadra/{id}(id = ${fantasquadra.getFantallenatore().getId()})}" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div>
</body>
</html>