<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Cambia nickname'}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${'Cambia il nickname del fantallenatore ' + fantallenatore.getNickname()}"></h2>
	<form th:action="@{/modifyNicknameFantallenatore/{id}(id = ${fantallenatore.getId()})}"
		th:object="${fantallenatore}" method="post">
        <p class = "form">Nickname: <input type="text" th:field="*{nickname}" /></p>
        <p><input type="submit" value="Modifica" /></p>
    </form>
    <div>
		<form th:action="@{/fantallenatori/{id}(id = ${fantallenatore.getId()})}" method="get">
	    	<input type="submit" value="Torna indietro" />
		</form>
	</div>
</body>
</html>