<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Giocatori presenti in ' + fantasquadra.getNomeFantasquadra()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Modifica rosa</h2>
	<div>
    	<table>
    		<tr>
    			<th colspan = "4" class = "firstRow" 
    				th:text="${'Portieri (' + portieriInFantasquadra.size() + '/3)'}"></th>
    		</tr>
    		<tr>
    		    <th>Id</th>
    		    <th>Nome</th>
    		    <th>Ruolo</th>
    		    <th>Link</th>
    		</tr>
			<tr th:each="portiere : ${portieriInFantasquadra}">
				<td><span th:text="${portiere.getId()}"></span></td>
				<td><span th:text="${portiere.getNome()}"></span></td>
				<td><span th:text="${portiere.getRuolo()}"></span></td>
				<td><a th:href="@{/fantasquadra/{idFantasquadra}/calciatore/{idCalciatore}
				(idFantasquadra = ${fantasquadra.getId()}, idCalciatore = ${portiere.getId()})}">Vai alla sua pagina!</a></td>
			</tr>
			<tr>
    			<th colspan = "4" class = "firstRow" 
    				th:text="${'Difensori (' + difensoriInFantasquadra.size() + '/8)'}"></th>
    		</tr>
    		<tr>
    		    <th>Id</th>
    		    <th>Nome</th>
    		    <th>Ruolo</th>
    		    <th>Link</th>
    		</tr>
			<tr th:each="difensore : ${difensoriInFantasquadra}">
				<td><span th:text="${difensore.getId()}"></span></td>
				<td><span th:text="${difensore.getNome()}"></span></td>
				<td><span th:text="${difensore.getRuolo()}"></span></td>
				<td><a th:href="@{/fantasquadra/{idFantasquadra}/calciatore/{idCalciatore}
				(idFantasquadra = ${fantasquadra.getId()}, idCalciatore = ${difensore.getId()})}">Vai alla sua pagina!</a></td>
			</tr>
			<tr>
    			<th colspan = "4" class = "firstRow" 
    				th:text="${'Centrocampisti (' + centrocampistiInFantasquadra.size() + '/8)'}"></th>
    		</tr>
    		<tr>
    		    <th>Id</th>
    		    <th>Nome</th>
    		    <th>Ruolo</th>
    		    <th>Link</th>
    		</tr>
			<tr th:each="centrocampista : ${centrocampistiInFantasquadra}">
				<td><span th:text="${centrocampista.getId()}"></span></td>
				<td><span th:text="${centrocampista.getNome()}"></span></td>
				<td><span th:text="${centrocampista.getRuolo()}"></span></td>
				<td><a th:href="@{/fantasquadra/{idFantasquadra}/calciatore/{idCalciatore}
				(idFantasquadra = ${fantasquadra.getId()}, idCalciatore = ${centrocampista.getId()})}">Vai alla sua pagina!</a></td>
			</tr>
			<tr>
    			<th colspan = "4" class = "firstRow" 
    				th:text="${'Attaccanti (' + attaccantiInFantasquadra.size() + '/6)'}"></th>
    		</tr>
    		<tr>
    		    <th>Id</th>
    		    <th>Nome</th>
    		    <th>Ruolo</th>
    		    <th>Link</th>
    		</tr>
			<tr th:each="attaccante : ${attaccantiInFantasquadra}">
				<td><span th:text="${attaccante.getId()}"></span></td>
				<td><span th:text="${attaccante.getNome()}"></span></td>
				<td><span th:text="${attaccante.getRuolo()}"></span></td>
				<td><a th:href="@{/fantasquadra/{idFantasquadra}/calciatore/{idCalciatore}
				(idFantasquadra = ${fantasquadra.getId()}, idCalciatore = ${attaccante.getId()})}">Vai alla sua pagina!</a></td>
			</tr>
		</table>
	</div>
		
	<div class = "allontana">
		<form class = "avvicinaForm" 
			th:action="@{/addCalciatoriInFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="get">
	    	<input type="submit" value="Aggiungi giocatori" />
		</form>
		<form class = "avvicinaForm"
			th:action="@{/removeCalciatoriFromFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="get">
	    	<input type="submit" value="Elimina giocatori" />
		</form>
		<form class = "avvicinaForm"
			th:action="@{/addCalciatoriRandomInFantasquadra/{id}(id = ${fantasquadra.getId()})}" method="post">
	    	<input type="submit" value="Completa la fantasquadra randomicamente" />
		</form>
		<form class = "avvicinaForm"
			th:action="@{/fantasquadra/{id}(id = ${fantasquadra.getFantallenatore().getId()})}" method="get">
	    	<input type="submit" value="Torna alla pagina della fantasquadra" />
		</form>
	</div>
</body>
</html>