<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Nickname cambiato</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Il nickname del fantallenatore è stato aggiornato con successo!</h2>
	<form th:action="@{/fantallenatori/{id}(id = ${fantallenatore.getId()})}">
    	<input type="submit" value="OK" />
	</form>
</body>
</html>