<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Partita giocata correttamente</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2 th:text="${'La partita è stata giocata, il risultato finale è: ' + partita.toString()}" ></h2>
	<form th:action="@{/fantasquadra/{id}(id = ${fantasquadra.getFantallenatore().getId()})}">
    	<input type="submit" value="OK" />
	</form>
</body>
</html>