<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${'Statistiche di ' + stats.getCalciatore().getNome()}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/fantaApp.css}" rel="stylesheet" />
</head>
<body>
	<h2>Pagina delle statistiche</h2>
	<div>
		<table>
    		<tr>
    			<th colspan = "2" class = "firstRow" th:text="${stats.getCalciatore().getNome()}"></th>
    		</tr>
    		<tr>
    		    <th>Partite giocate</th>
    		    <td class = "statistiche"><span th:text="${stats.getnPartiteGiocate()}"></span></td>
    		</tr>
    		<tr>
    			<th>Gol fatti</th>
    			<td class = "statistiche"><span th:text="${stats.getnGolFatti()}"></span></td>
    		</tr>
    		<tr>
    		    <th>Gol subiti</th>
    		    <td class = "statistiche"><span th:text="${stats.getnGolSubiti()}"></span></td>
    		</tr>
    		<tr> 
    		    <th>Autogol</th>
    		    <td class = "statistiche"><span th:text="${stats.getnAutogol()}"></span></td>
    		</tr>
    		<tr>
    		    <th>Rigori parati</th>
    		   	<td class = "statistiche"><span th:text="${stats.getnRigoriParati()}"></span></td>
    		</tr>
    		<tr>
    		    <th>Rigori sbagliati</th>
    		    <td class = "statistiche"><span th:text="${stats.getnRigoriSbagliati()}"></span></td>
    		</tr>
    		<tr>
    		    <th>Ammonizioni</th>
    		    <td class = "statistiche"><span th:text="${stats.getnAmmonizioni()}"></span></td>
    		</tr>
    		<tr>
    		    <th>Espulsioni</th>
    		   	<td class = "statistiche"><span th:text="${stats.getnEspulsioni()}"></span></td>
    		</tr>
    		<tr>
    		    <th>Assist</th>
				<td class = "statistiche"><span th:text="${stats.getnAssist()}"></span></td>
			</tr>
		</table>
	</div>
	
	<br>
	<form th:action="@{/fantasquadra/{idFantasquadra}/calciatore/{idCalciatore}
		(idFantasquadra = ${fantasquadra.getId()},idCalciatore = ${stats.getCalciatore().getId()})}">
    	<input type="submit" value="Torna alla pagina precedente" />
	</form>
</body>
</html>